<%-include("nav1.ejs")%> <br /><br /><br />
<div id="userset" data-user="<%= JSON.stringify(user) %>"></div>
<div id="dataset" data-id="<%= JSON.stringify(id) %>"></div>

<div id="listdata" class="row row-cols-1 row-cols-md-3 g-4"></div>
<div id="nextdata" class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">next</h5>
        <p class="card-text">next</p>
      </div>
    </div>
  </div>
</div>
<script type="module" src="/descrip1.js"></script>
