<%-include("nav1.ejs")%> <br /><br /><br />
<div id="userset" data-user="<%= JSON.stringify(user) %>"></div>
<%-include("listDescrip.ejs")%>
  <form  id="finddescrip" class="d-flex">
        <input id="findText" class="form-control me-2" autocomplete="off" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">ค้นหา</button>
      </form> 
    </div>
<br>
<div id="listdata" class="row row-cols-1 row-cols-md-3 g-4"></div>
<div id="nextdata" class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">สิ้นสุดข้อมูล</h5>
      </div>
    </div>
  </div>
</div>
<script type="module" src="/headline.js"></script>
