<h1>Login</h1>
<form id="sendmsg" method="post" action="/login">
  <!-- <form id="sendmsg"> -->
  <div class="mb-3">
    <label for="email" class="form-label">username</label>
    <input
      type="text"
      autocomplete="off"
      class="form-control"
      id="email"
      name="email"
    />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password</label>
    <input
      autocomplete="off"
      type="password"
      name="password"
      class="form-control"
      id="pwd"
    />
  </div>
  <button type="submit" class="btn btn-primary">เข้าใช้งาน</button>
</form>
<div style="float: right">
  <a href="/register" class="btn btn-primary active" role="button">ลงทะเบียน</a>
</div>
<!-- ////////////////// -->

<!-- ///////////////////// -->

<script type="module" src="./controls/route.js"></script>
