<form id="sendmsg" method="post" action="/login">
  <!-- <form id="sendmsg"> -->
  <div class="mb-3">
    <label for="email" class="form-label">username</label>
    <input type="text" class="form-control" id="email" name="email" />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password</label>
    <input
      autocomplete="off"
      type="password"
      name="password"
      class="form-control"
      id="pwd"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div style="float: right">
  <a
    href="/register"
    class="btn btn-primary active"
    role="button"
    data-bs-toggle="button"
    aria-pressed="true"
    >register</a
  >
</div>
<!-- <script type="module" src="./index.js"></script> -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
  }
  .image-wrapper {
    width: 500px;
    height: 280px;

    margin: 20px 0;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow: hidden;
  }
</style>
