main
<div id="userset" data-user="<%= JSON.stringify(user) %>">
  <%= user.name.username %>
</div>
<a href="/upload">upload</a>
<a href="/logout">logout</a>

<div id="pictures"></div>
<script type="module" src="./index.js"></script>

<style>
  .column {
    width: 300px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 300ms ease;
  }

  .column img {
    width: 100%;
  }

  .btn-primary {
    position: absolute;
    z-index: 2;
  }

  .column:hover:before {
    opacity: 1;
    transition: all 300ms ease;
  }
</style>
