main
<div id="userset" data-user="<%= JSON.stringify(user) %>">
  <%= user.name.username %>
</div>
<a href="/upload">upload</a>
<a href="/logout">logout</a>
<div id="pictures"></div>
<script type="module" src="./index.js"></script>
