<%-include("nav1.ejs")%> <br /><br /><br />
<div id="userset" data-user="<%= JSON.stringify(user) %>"></div>

<div class="container">
  <ul id="menuTabs" class="nav nav-tabs">
    <li class="nav-item">
      <a id="tab_1" class="nav-link active" aria-current="page" href="#"
        >ภาพประจำตัว</a
      >
    </li>
    <li class="nav-item">
      <a id="tab_2" class="nav-link" href="#">รหัสผ่าน</a>
    </li>
    <li class="nav-item">
      <a id="tab_3" class="nav-link" href="#">อื่นๆ</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab_1">
      <div class="container">
        <h4>ภาพประจำตัว</h4>

        <%-include("uploadbtn.ejs")%>
        <!-- ////////// -->
        <section class="progress-area">
          <div id="details" class="content">
            <div class="details">
              <div id="tum" class="name"></div>
              <div id="filename" class="name"></div>
              <span id="percen" class="percen"></span>
            </div>
            <div class="progress-bar">
              <div id="process" class="progress"></div>
            </div>
          </div>
        </section>
        <!-- /////////////////// -->
      </div>
    </div>
    <div class="tab-pane" id="tab_2">
      <div class="container">
        <h4>รหัสผ่าน</h4>
        <%-include("changpassword.ejs")%>
      </div>
    </div>
    <div class="tab-pane" id="tab_3">
      <div class="container">
        <h4>อื่นๆ</h4>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    var menuItens = document.querySelectorAll("#menuTabs>li");
    for (var i = 0; i < menuItens.length; i++) {
      menuItens[i].addEventListener("click", function () {
        // occulting divs - removing .active class
        var tabs = document.querySelectorAll(".tab-content>.tab-pane");
        for (var k = 0; k < tabs.length; k++) {
          tabs[k].className = "tab-pane";
        }
        // removing .active from menu itens
        for (var j = 0; j < menuItens.length; j++) {
          menuItens[j].className = "";
        }
        // setting .active in clicked item
        this.className = "active";
        // getting target id
        var linkTab = this.getElementsByTagName("A")[0].id;
        // showing the selected tab div
        var tab = document.querySelectorAll(".tab-content>#" + linkTab)[0];
        tab.className = "tab-pane active";
      });
    }
  };
</script>
