<%-include("nav1.ejs")%> <br /><br /><br />
<div id="userset" data-user="<%= JSON.stringify(user) %>"></div>
<div id="dataset" data-id="<%= JSON.stringify(id) %>"></div>
<div id="pictures"></div>
<script type="module" src="/showon.js"></script>
