<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div
    id="liveToast"
    class="toast hide"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    data-bs-delay="1000"
  >
    <div class="toast-header">
      <strong id="toastheader" class="me-auto">delete</strong>
      <small></small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div id="toastbody" class="toast-body">ลบภาพ</div>
  </div>
</div>
