<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<link rel="stylesheet" href="./css/upload.css" />
<div id="userset" data-user="<%= JSON.stringify(user) %>"></div>
<div id="drop-area" class="wrapper">
  <header>File Uploader <%= user.name.username %></header>
  <form action="#">
    <input class="file-input" type="file" name="file" multiple hidden />
    <i class="fas fa-cloud-upload-alt"></i>
    <p>Browse File to Upload</p>
  </form>
  <!-- <section class="progress-area"></section>
  <section class="uploaded-area"></section> -->
  <div id="app"></div>
</div>

<script type="module" src="./upload.js"></script>
