 /* Import Google font - Poppins */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
  

 ::selection {
   color: #fff;
   background: #6990f2;
 }
 .wrapper {
   width: 300px;
   background: #fff;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
 }
 .wrapper header {
   color: #6990f2;
   font-size: 27px;
   font-weight: 600;
   text-align: center;
 }
 .wrapper form {
   height: 100px;
   display: flex;
   cursor: pointer;
   margin: 10px 0;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 5px;
   border: 2px dashed #6990f2;
 }
 form :where(i, p) {
   color: #6990f2;
 }
 form i {
   font-size: 50px;
 }
 form p {
   margin-top: 5px;
   font-size: 16px;
 }

 section .row {
   margin-bottom: 10px;
   background: #e9f0ff;
   list-style: none;
   padding: 15px 20px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 section .row i {
   color: #6990f2;
   font-size: 30px;
 }
 section .details span {
   font-size: 14px;
 }
 .progress-area .row .content {
   width: 100%;
   margin-left: 15px;
 }
 .progress-area .details {
   display: flex;
   align-items: center;
   margin-bottom: 7px;
   justify-content: space-between;
 }
 .progress-area .content .progress-bar {
   height: 6px;
   width: 100%;
   margin-bottom: 4px;
   background: #fff;
   border-radius: 30px;
 }
 .content .progress-bar .progress {
   height: 100%;
   width: 0%;
   background: #6990f2;
   border-radius: inherit;
 }
 .uploaded-area {
   max-height: 232px;
   overflow-y: scroll;
 }
 .uploaded-area.onprogress {
   max-height: 150px;
 }
 .uploaded-area::-webkit-scrollbar {
   width: 0px;
 }
 .uploaded-area .row .content {
   display: flex;
   align-items: center;
 }
 .uploaded-area .row .details {
   display: flex;
   margin-left: 15px;
   flex-direction: column;
 }
 .uploaded-area .row .details .size {
   color: #404040;
   font-size: 11px;
 }
 .uploaded-area i.fa-check {
   font-size: 16px;
 }

 #drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 100%;
  font-family: sans-serif;
  margin: 10px auto;
  padding: 10px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 5px;
  background: #ccc;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

/* 
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}

h1 {
  text-align: center;
} */

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04aa6d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}